
.retail-menu {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.retail-menu__debug {

  display: block;
  width: 100%;
  min-height: 200px;
}

.retail-menu__item {

  border: 1px solid black;
  padding: 15px;
}

.retail-menu__title {

  margin: 0;
  padding: 0;
}

.retail-menu__products {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.retail-product {

  border: 1px solid #999;
  padding: 10px;
  margin: 10px 0;
  display: flex;
}

.retail-product__input {

  flex: 1 1 auto;
}